h1{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

=======
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
}

.container {
max-width: 600px;
margin: 0 auto;
padding: 20px;
}


button {
background-color: #007bff;
color: white;
padding: 10px 20px;
border: none;
border-radius: 5px;
cursor: pointer;
}

button:hover {
background-color: #0062cc;
}
>>>>>>> f98144eba7211f6b63206c6ccdff9d65f9bdee05
